<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.cmsspringboot.mapper.ArticleMapper">

    <select id="findAll" resultType="com.example.cmsspringboot.model.Article">
        SELECT * FROM articles WHERE author = #{author}
    </select>

    <insert id="insertArticle" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO articles (title, content, author) 
        VALUES (#{title}, #{content}, #{author})
    </insert>

    <update id="updateArticle">
        UPDATE articles 
        SET title = #{title}, content = #{content}, author = #{author} 
        WHERE id = #{id}
    </update>
    
    <delete id="deleteArticle">
        DELETE FROM articles WHERE id = #{id}
    </delete>

</mapper>
